OSU_CLIENT_ID=XXXXX
OSU_CLIENT_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
OSU_API_VERSION=20260630

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=XXXXXXXXXXXXXXXX
DB_NAME=pogstats

DB_CONFIG_TABLE=CONFIG
DB_SCORES_TABLE=SCORES
DB_PLAYERS_TABLE=PLAYERS
DB_PLAYER_RULESET_STATS_TABLE=PLAYER_RULESET_STATS
DB_PLAYER_POG_BADGES_TABLE=PLAYER_POG_BADGES
DB_POG_BADGES_TABLE=POG_BADGES
DB_BEATMAPS_TABLE=BEATMAPS
DB_BEATMAPSETS_TABLE=BEATMAPSETS
DB_BEATMAP_RULESET_UPDATE_DATES_TABLE=BEATMAP_RULESET_UPDATE_DATES
DB_RANKING_TYPES_TABLE=RANKING_TYPES
DB_HISTORICAL_RANKINGS_TABLE=HISTORICAL_RANKINGS
DB_HISTORICAL_PLAYER_SNIPES_TABLE=HISTORICAL_PLAYER_SNIPES
DB_PLAYER_MIA_HISTORY_TABLE=PLAYER_MIA_HISTORY

SERVER_PORT=3727
METRICS_PORT=3728

DEV_ENV=false
VERBOSE=true

SCORE_SCRAPE_LOG_PATH=../../data/logs/scrape_scores.log
SCORE_SCRAPE_ERROR_LOG_PATH=../../data/logs/scrape_scores_errors.log

SCRAPE_SCORE_DELAY_MS=1250
SCRAPE_PLAYER_DELAY_MS=1250
