OSU_CLIENT_ID=XXXXX
OSU_CLIENT_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
OSU_API_VERSION=20260601

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=XXXXXXXXXXXXXXXX
DB_NAME=pogstats
DB_SCORES_TABLE=SCORES
DB_PLAYERS_TABLE=PLAYERS
DB_BEATMAPS_TABLE=BEATMAPS
DB_BEATMAP_SETS_TABLE=BEATMAPSETS

VERBOSE=true

BEATMAP_ID_PATH=../data/beatmap_ids.txt
SCORE_SCRAPE_LOG_PATH=../data/logs/scrape_scores.log
SCORE_SCRAPE_ERROR_LOG_PATH=../data/logs/scrape_scores_errors.log

SCRAPE_SCORE_DELAY_MS=999
